# vim: filetype=toml
pager = "bat"
pagerArgs = "--plain"

[data]
github_username = "rynoV"

[merge]
command = "{{ .chezmoi.homeDir }}/scripts/nvim-cmd.sh"
args = [
  "--cmd",
  "let g:flatten_wait=1",
  "-d",
]
