# vim: filetype=toml
pager = "bat"
pagerArgs = "--plain"

[data]
github_username = "rynoV"

[cd]
command = {{ env "SHELL" | toToml }}

[edit]
command = {{ lookPath "bash" | toToml }}
args = [
  "{{ .chezmoi.homeDir }}/scripts/nvim-cmd.sh",
  "--cmd",
  "let g:flatten_wait=1",
]

[merge]
command = {{ lookPath "bash" | toToml }}
args = [
  "{{ .chezmoi.homeDir }}/scripts/nvim-cmd.sh",
  "--cmd",
  "let g:flatten_wait=1",
  "-d",
]
