# -*- mode: fish; -*-

fish_vi_key_bindings

bind --mode insert \cf accept-autosuggestion
bind --mode insert \cj down-or-search
bind --mode insert \ck up-or-search

# Ctrl+Alt+g to grep
bind --mode insert \e\cg rga-fzf

bind --mode insert \co ranger-cd

# XDG folders: https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html
set --export XDG_CONFIG_HOME $HOME/.config
set --export XDG_CACHE_HOME $HOME/.cache
set --export XDG_DATA_HOME $HOME/.local/share
set --export XDG_STATE_HOME $HOME/.local/state

fish_add_path --path ~/.local/bin
fish_add_path --path ~/.local/bin/evil-software
set --export VISUAL emacsclient --no-wait --create-frame
set --export EDITOR emacsclient --no-wait --create-frame
set --export BROWSER browser
set MANPATH $MANPATH /usr/share/man

set --export FZF_DEFAULT_OPTS "--cycle --layout=reverse --border=double --height=90% --preview-window=wrap --marker='*' \
--color=spinner:#8FBCBB,hl:#898f9e,fg:#D8DEE9,header:#898f9e,info:#8FBCBB \
--color=pointer:#8FBCBB,marker:#8FBCBB,fg+:#8FBCBB,prompt:#8FBCBB,hl+:#7d9761,border:#81A1C1,label:#2b3740 \
--bind='ctrl-alt-y:execute-silent(echo {+} | xclip -selection clipboard -rmlastnl)'
"

# Use ctrl-e in the fzf file finder to edit the file(s), ctrl-alt-e to edit in
# vscode, copy absolute paths with ctrl-alt-y
set --export MY_FZF_FILE_OPTS --bind "\
ctrl-e:execute(myemacs {+} &> /dev/tty)+abort,\
ctrl-alt-e:execute(code {+})+abort,\
ctrl-alt-y:execute-silent(echo {+} | xargs readlink -f | xclip -selection clipboard -rmlastnl)"

set fzf_dir_opts $MY_FZF_FILE_OPTS
set fzf_fd_opts --hidden --exclude=.git --follow

set --export JAVA_HOME /usr/lib/jvm/java-11-openjdk
fish_add_path --path $JAVA_HOME/bin

fish_add_path --path /usr/local/go/bin
set --export GOPATH ~/.var/go

set --export TEXMFHOME ~/.local/share/texmf
set --export TEXMFVAR ~/.var/texmf
set --export TEXMFCONFIG ~/.config/texmf

# For GTK 4 apps
set --export GTK_THEME Nordic

set --export CACHIX_AUTH_TOKEN {{ (bitwarden "item" "MLabs Read Cachix Key").notes }}

alias g magit

alias c code

alias x xdg-open

alias ls lsd
alias la "ls -A"
alias ll "ls -l"
alias lla "ls -lA"

alias cm chezmoi

# Useful abbreviations from https://github.com/fish-shell/fish-shell/releases/tag/3.6.0
function multicd
    echo cd (string repeat -n (math (string length -- $argv[1]) - 1) ../)
end

abbr --add dotdot --regex '^\.\.+$' --function multicd

function last_history_item; echo $history[1]; end
abbr -a !! --position anywhere --function last_history_item

if type -q pacman
    alias pm pacman
    # Browse remote packages
    alias pml "pacman -Slq | fzf --preview 'pacman -Si {}' --layout=reverse"
    # Browse installed packages
    alias pmq "pacman -Qq | fzf --preview 'pacman -Qil {}' --layout=reverse"
    # Browse groups
    alias pmg "pacman -Sgq | fzf --preview 'pacman -Sgq {}' --layout=reverse"
    # Browse packages in a group passed as the argument
    alias pmgl "pacman_browse_group"
end

test "$TERM" = "xterm-kitty" && alias ssh "kitty +kitten ssh"

set --export GHCUP_USE_XDG_DIRS
fish_add_path --path $XDG_DATA_HOME/cabal/bin $XDG_DATA_HOME/ghcup/bin # ghcup-env

fish_add_path --path $HOME/.nix-profile/bin /nix/var/nix/profiles/default/bin

fish_add_path --path /opt/flutter/bin
fish_add_path --path $HOME/Android/Sdk/cmdline-tools/latest/bin

set MANPATH $HOME/.nix-profile/share/man /nix/var/nix/profiles/default/share/man $MANPATH

if type -q any-nix-shell
    any-nix-shell fish --info-right | source
end

if type -q direnv
    direnv hook fish | source
end

set --export GNUPGHOME $XDG_DATA_HOME/gnupg
# https://stackoverflow.com/a/55032706
set --export GPG_TTY (tty)

set --export CABAL_DIR $XDG_DATA_HOME/cabal

set --export NVM_DIR $XDG_DATA_HOME/nvm

set --export LESSHISTFILE $XDG_STATE_HOME/lesshst

# For "pass" password manager
set --export PASSWORD_STORE_DIR ~/.var/password-store

# From
# https://wiki.archlinux.org/title/SSH_keys#Start_ssh-agent_with_systemd_user
# so that ~/.config/systemd/user/ssh-agent.service works
set --export SSH_AUTH_SOCK $XDG_RUNTIME_DIR/ssh-agent.socket

set --export LANG "en_CA.UTF-8"
set --export LC_ALL "en_CA.UTF-8"

# Nix gives trouble about locales if I don't have this set https://nixos.wiki/wiki/Locales
set --export LOCALE_ARCHIVE /usr/lib/locale/locale-archive

# Clean up duplicates in the path, from https://unix.stackexchange.com/a/14896
set PATH (printf "%s" "$PATH" | awk -v RS=':' '!a[$1]++ { if (NR > 1) printf RS; printf $1 }')

set --export _ZO_ECHO 1

zoxide init fish | source

# Start X at login
if status is-login
    if test -z "$DISPLAY" -a "$XDG_VTNR" = 1
        exec startx -- -keeptty >~/.var/xorg.log 2>&1
    end
end
