[Desktop Entry]
Encoding=UTF-8
Name=Firefox Developer Edition
Exec=firefox-dev %u
Icon=/home/calum/.local/firefox-dev/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;Favorite;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp; X-Ayatana-Desktop-Shortcuts=NewWindow;NewIncognitos;
